section.hero

  div.hero__box-play
    div.icon
    p.text Dale Play!

  div.hero__box-logo
    div.container-letters.anim-3
      each letter in '!Nos casamos!'
        h2= letter
    h3.anim-3 ALE&nbsp;&nbsp;&nbsp;AGOS
    div.container-letters.anim-3
      each letter in '16.07.2023'
        h2= letter

  div.hero__box-time.anim-4
    p ¿Cuánto falta?
    div contador

  //- FONDO FLORES
  div.hero__back

    div.box.box-1
      div.img.img-1.anim-3
      div.img.img-2.anim-3
      div.img.img-3.anim-3

    div.box.box-2
      div.img.img-1.anim-4
      div.img.img-2.anim-4
      div.img.img-3.anim-4

    div.box.box-3
      //- div.img.img-1.anim-3
      //- div.img.img-2.anim-3
      //- div.img.img-3.anim-3

    div.box.box-4