/* page */
$page-bg: #f9f4f4;
$page-text: #0d0d0d;

/* card */
$card_bg: #fbf8f8;
$card-border: #e2e0e0;
$card-title: #0d0d0d;
$card-desc: #757373;

/* button */
$btn-bg: white;
$btn-border: #d8a99c;
$btn-text: #dbb1a5;

/* button hover */
$btn-bg-hov: #587160;
$btn-text-hov: white;