/* 400 - 500 */
$font-primary: 'Cinzel', serif;
/* 200 -300 - 400 */
$font-secondary: 'Noto Serif JP', serif;
/* 400 */
$font-tertiary: 'Questrial', sans-serif;
/* 400 */
$font-quaternary: 'Explora', cursive;