script.

  //- ANIAMCIONES DEL FOOTER
  const animFlower = ScrollReveal();

  animFlower.reveal('.anim-flower', {
    duration: 3000,
    delay: 0,
    distance: '150px',
    opacity: 0,
    easing: 'ease-in-out',
    origin: 'bottom',
    reset: true
  });

  const anim2 = ScrollReveal();

  anim2.reveal('.anim-2', {
    duration: 1500,
    delay: 0,
    distance: '100px',
    opacity: 0,
    easing: 'ease-in-out',
    origin: 'bottom',
    reset: true,
    origin: 'left',
    distance: '50px',
    rotate: { x: 0, y: 0, z: 40 },
    opacity: 0,
    scale: 0.5,
  });

  const anim3 = ScrollReveal();

  anim3.reveal('.anim-3', {
    duration: 1000,
    delay: 0,
    opacity: 0,
    easing: 'ease-in-out',
    origin: 'bottom',
    reset: true,
    origin: 'left',
    distance: '50px',
    opacity: 0,
    scale: 0.5,
  });