section.footer
  div.footer__container
    h2 ¡te esperamos!
    h3 ale&nbsp;&nbsp;&nbsp;agos
    button pdf recuerdo

  div.footer__back
    div.img.img-1
    div.img.img-2
    div.img.img-3
    div.img.img-4