section.footer
  div.footer__container
    h2 ¡Te esperamos!
    h3 Ale&nbsp;&nbsp;&nbsp;Agos
    button.pdf Recuerdo

  div.footer__back
    div.box.box-1.anim-box
      div.img.img-1.anim-flower
      div.img.img-2.anim-flower

    div.box.box-2.anim-box
      div.img.img-3.anim-flower
      div.img.img-4.anim-flower
