doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title MODELO SAKURA
    //- SASS
    link(rel="stylesheet" href="./styles/index.scss")
    //- FUENTES DE TEXTOS
    include utils/fonts.pug
    //- SCROLLREVEAL
    script(src="https://unpkg.com/scrollreveal")
body
  include components/hero/hero.pug
  include components/main/main.pug
  include components/footer/footer.pug
  include utils/animation.pug
